$media-width-xl: 1140px;
$media-width-lg: 1024px;
$media-width-md: 768px;
$selected-text-color: #F16D7F;
$selected-text-color2: #EF5B70;
$basic-text-color: #222;
$basic-footer-color: #222224;

$products-basic-text-color: #636363;

// catalog
$page-text-color: #C4C4C4;
$page-border-colot: #EBEBEB;