.review-container {
  margin-top: 50px;
  font-size: 15px;
  line-height: 1;
}

.container {
  width: 800px;
  margin: 10px auto;
}
.container > textarea {
  width: 100%;
}

.task {
  padding: 30px;
  background-color: aliceblue;
}
.task > p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  line-height: 110%;
}

a {
  text-align: center;
  display: block;
  margin: 50px;
}
